# Mac System Files
*.DS_STORE

# Files related to Jupyter Lab
*.ipynb_checkpoints*
*pycache*
*.pyc

# Virtual environment
.venv/
wheels/

# R files
*.RData
*.Rhistory

# Data folders
*data
Intermediate/text_classification_algorithms/nlp

# VSCode
*.vscode/
*.code-workspace

# Datasets
*/datasets/
*/images/
stable-diffusion-webui/
datasets/