accelerate
albumentations
beautifulsoup4
black
chromadb
click
datasets
diffusers
evaluate
fastapi
flake8
google-auth
google-pasta
googleapis-common-protos
gradio-client
gradio
huggingface-hub
icecream
idna
ipykernel
ipython
jedi
jupyterlab
kagglehub
keras-core
keras-nlp
keras
langchain
langsmith
markdown
matplotlib
nltk
openai
pandas
pillow
pinecone-client
polars
pylance
ruff
scikit-image
scikit-learn
seaborn
tenacity
tensorboard
tensorflow-metal
tensorflow-text
tensorflow
torch
torchvision
transformers
uvicorn
yellowbrick
